# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local
package-lock.json

# Service Account File
serviceAccount.json

# Not-Sure what is this
*.p8

# Logs
*.log

# Apple Root Certs
*.cer

# Environment Variables File
.env

# I don't know what is this.
*.pem

# Encrypted Files
*.encrypted

# Ds Store Files
*.DS_Store